body, html {
	background-color: #e2d0f2;
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0px;
}

.entete {
	background-image: url("./entete.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
}

.entete-texte {
	background-color: #fffff0;
	border-radius: 10px;
	color: #0bbb0b;
	font-size: 28px;
	left: 31%;
	opacity: 75%;
	padding: 20px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

.entete-texte > h1 {
	margin:0;
}

.entete-langue {
	background-color: #fffff0;
	border-radius: 10px;
	font-size: 28px;
	position: absolute;
	right: 10%;
	top: 60%;
}

.entete-langue a {
	text-decoration: none;
}

.liste-trains {
	margin-left: 20px;
	margin-right: 20px;	
	padding-bottom: 200px;
}

.conteneur-train {
	background-color: #f9d368;
	border-radius: 32px;
	display: flex;
	margin-top: 10px;
	padding: 10px 5px 10px 20px;
}

.conteneur-train table {
	font-size: 125%
}

.image-train {
	border-radius: 10px;
	height: auto;
	width: 200px;
}

.libelle {
	text-align: right;
}

.filtre {
	background-color: #d3cfad;
	border: 3px outset #c2bf9f;
    border-radius: 5px;
	margin-left: 28%;
	padding: 5px;
	position: fixed;
	top: 92%;
}

#filtre-texte {
	border: 1px normal #c2bf9f;
    border-radius: 7px;
	font-size: 32px;
}

.filtre-bouton {
	background-color: #eee6f5;
	border: 3px outset #c2bf9f;
    border-radius: 15px;
	color: #000000;
	display: inline-block;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	width: 60px;
}